{% extends 'headeradmin.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<style>
.nature-card {
  background-color: #e5f4e7; /* Couleur de fond verte */
  border: 2px solid #8fc580; /* Bordure verte */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre */
}

.nature-card .card-body {
  padding: 2rem; /* Espacement du contenu à l'intérieur de la carte */
}

.nature-card .card-title {
  color: #4e7d4e; /* Couleur du titre */
}

/* Style pour le bouton */
.btn-details {
  background-color: #4e7d4e; /* Couleur de fond du bouton */
  border: none; /* Suppression de la bordure */
  color: white; /* Couleur du texte */
  padding: 0.5rem 1rem; /* Espacement du bouton */
  border-radius: 5px; /* Coins arrondis */
}

/* Style pour le bouton au survol */
.btn-details:hover {
  background-color: #426e42; /* Couleur de fond du bouton au survol */
}

</style>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6"> <!-- Changement ici pour agrandir la largeur -->
      <div class="card nature-card">
        <div class="card-body">
          <h1 class="card-title mb-3">Profil administrateur</h1>
          <form action="{{ path('edit_admin_profile') }}" method="post">
            <div class="form-group">
              <label for="email">Email :</label>
              <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
            </div>
            <div class="form-group">
              <label for="name">Nom :</label>
              <input type="text" class="form-control" id="name" name="name" value="{{ user.name }}">
            </div>
            <div class="form-group">
              <label for="adresse">Adresse :</label>
              <input type="text" class="form-control" id="adresse" name="adresse" value="{{ user.adresse }}">
            </div>
            <div class="form-group">
              <label for="civilite">Civilité :</label>
              <select class="form-control" id="civilite" name="civilite">
                <option value="M." {% if user.civilite == 'M.' %} selected {% endif %}>M.</option>
                <option value="Mme." {% if user.civilite == 'Mme.' %} selected {% endif %}>Mme.</option>
                <option value="Autre" {% if user.civilite == 'Autre' %} selected {% endif %}>Autre</option>
              </select>
            </div>
            <button type="submit" class="btn btn-details">Enregistrer les modifications</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
