{% extends 'headeradmin.html.twig' %}

{% block title %}Ajouter un nouveau produit{% endblock %}


{% block body %}
<br>
<div class="container nature-card">
<br>
    <h1>Ajouter un nouveau produit</h1>
    <form action="{{ path('app_create_product') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Nom du produit:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="price">Prix:</label>
            <input type="text" class="form-control" id="price" name="price" required>
        </div>
        <div class="form-group">
            <label for="category">Catégorie:</label>
            <select class="form-control" id="category" name="category" required>
                <option value="">Sélectionner une catégorie</option>
                <option value="Produits frais">Produits frais</option>
                <option value="Épicerie">Épicerie</option>
                <option value="Boulangerie">Boulangerie</option>
                <option value="Surgelés">Surgelés</option>
                <option value="Boissons">Boissons</option>
                <option value="Produits d'hygiène et de beauté">Produits d'hygiène et de beauté</option>
                <option value="Entretien ménager">Entretien ménager</option>
                <option value="Articles pour bébés et enfants">Articles pour bébés et enfants</option>
                <option value="Produits de santé">Produits de santé</option>
                <option value="Articles pour animaux de compagnie">Articles pour animaux de compagnie</option>
            </select>
        </div>
        <div class="form-group">
            <label for="quantity">Quantité:</label>
            <input type="number" class="form-control" id="quantity" name="quantity" required>
        </div>
        <div class="form-group">
            <label for="image">Image:</label>
            <input type="file" id="image" name="image" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-details">Ajouter</button>
        <br><br>
    </form>
</div>
<br>

{% endblock %}
