{% extends 'base.html.twig' %}

{% block title %}Edit Promo{% endblock %}

{% block body %}
    <h1>Edit Promo</h1>

    {{ include('admin/promo_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_promo_admin_index') }}">back to list</a>

    {{ include('admin/promo_admin/_delete_form.html.twig') }}
{% endblock %}
