{% extends 'headeradmin.html.twig' %}

{% block title %}Edit Promo{% endblock %}

{% block body %}

    <div style="background-color: #e0f2f1; padding: 20px;">
        <h1 style="color: #388e3c;">Edit Promo</h1>

        <div style="background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
            {{ include('admin/promo_admin/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('app_promo_admin_index') }}" style="color: #388e3c; text-decoration: none;">back to list</a>
        </div>

        <div style="margin-top: 20px; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
            {{ include('admin/promo_admin/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
