{% extends 'headeradmin.html.twig' %}

{% block title %}New Promo{% endblock %}

{% block body %}
    <h1>Create new Promo</h1>

    {{ include('admin/promo_admin/_form.html.twig') }}

    <a href="{{ path('app_promo_admin_index') }}">back to list</a>
{% endblock %}
