{# templates/user/uservue/card.html.twig #}

<h1>Carte de fidélité</h1>
<ul>
    <li><strong>Numéro de carte:</strong> {{ loyaltyCard.cardNumber }}</li>
    <li><strong>Type de carte:</strong> {{ loyaltyCard.cardType }}</li>
    <li><strong>Points de fidélité:</strong> {{ loyaltyCard.points }}</li>
    <li><strong>Offre personnalisée:</strong> {{ loyaltyCard.personalizedOffer }}</li>
    {# Ajoutez d'autres informations de la carte de fidélité ici #}
</ul>
